* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
#navbar {
  display: flex;
  font-size: 1.7rem;
  justify-content: space-between;
  padding: 2rem 4rem;
  background-color: rgb(119, 241, 119);
}
#navbar .right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#navbar .logo {
  height: 2rem;
  width: 2rem;
  background-image: url("/Users/vanessazentgraf/Desktop/africanshop/afroshopsde/public/logos/logo.png");
}

#navbar .navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
/* Home */

#home {
  background-color: rgb(149, 128, 128);
  padding: 4rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}
/* SEARCH BAR */
#searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}
.Search {
  display: flex;
  gap: 0.5rem;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(119, 241, 119);
  margin-top: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
/* Map */
.leaflet-container {
  margin-bottom: 3rem;
  border: 2px solid red;
}
