* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;

}

.layout-container{
  /* background-color: blue; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* NAVBAR */
#navbar {
  display: flex;
  font-size: 1.7rem;
  justify-content: space-between;
  padding: 2rem 4rem;
  background-color: rgb(252, 158, 50);
}
#navbar .right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#navbar .logo {
  height: 3rem;
  width: 3rem;
  background-image: url("../public/logos/logo.png");
  background-size: cover;
  border: 2px solid red;
}

#navbar .navLink {
  color: rgb(3, 75, 19);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
/* Home */

#home {
  background-color: rgb(247, 244, 244);
  padding: 4rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.container{
  /* border: solid 1px grey; */
  min-width: 70vw;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  margin: 2rem auto;
}

.container-child{
  border: solid 1px grey;
  width: 48%;
  margin-bottom: 1rem;
  padding: 1rem;
  
}


/*
Card-container*/
.posts-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
}

/* Card */
.card {
  background-color: rgb(252, 158, 50);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 200px;
  margin: 2rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-text {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(3, 75, 19);
}
/* SEARCH BAR */
#searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 244, 244);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}
.Search {
  display: flex;
  color: black;
  gap: 0.5rem;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(252, 158, 50);
  /* margin-top: 1rem; */
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  /* position: fixed;
  bottom: 0;
  right: 0;
  left: 0; */
}
/* Map */
.leaflet-container {
  margin-bottom: 3rem;
  height: 100vh;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}
